<ul class="pagination d-flex justify-content-center w-100">
    {{#if prev}}
        <a href="{{page_url prev}}"><li>{{prev}}</li></a>
    {{/if}}

    <li class="active">{{page}}</li>
    {{#if next}}
        <a href="{{page_url next}}"><li>{{next}}</li></a>
    {{/if}}
</ul>