{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

  {{#author}}
      <div class="tag_head_wrap">
        <div class="top_heading text-center">
          
          <div class="top_section_wrap">
          <img src="{{#if profile_image}}{{img_url profile_image}}{{else}}{{asset "images/fallback-user.jpg"}}{{/if}}" class="avatar-page avatar-page-author center-align" title="Image of {{name}}" alt="Image of {{name}}" />
          <p class="top-section-title">{{name}}</p>
            <div class="socials-top text-center">
              {{#if facebook}}<a href="{{facebook_url}}" target="blank" rel="noopener noreferrer" class="socials-top-fb hvr-grow"><i class="fab fa-facebook fa-facebook-author"></i>Facebook</a>{{/if}}
              {{#if twitter}}<a href="{{twitter_url}}" target="blank" rel="noopener noreferrer" class="socials-top-twt hvr-grow"><i class="fab fa-twitter fa-twitter-author"></i>Twitter</a>{{/if}}
            </div>
          </div>
        </div>

        </div>
  {{/author}}
    <hr class="fancy-hr" />

<div class="main-content {{#if @site.cover_image}}main-content-head{{/if}}">
    {{> 'post/basic'}}
    {{#match @page.show_title_and_feature_image}}
    {{#if pagination}}
        {{pagination}}
    {{/if}}
    {{/match}}
</div>